.contact-form {
    display: inline-block;
    width: 860px;
    max-width: 100%;

    @media (max-width: 600px) {
        width: 400px;

        .col-6 {
            width: 100%;
            margin-bottom: 25px;
        }
    }

    .form-group {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    textarea {
        height: 35px;
        border: 0;
        border-bottom: 2px solid #E8E8E8;
        color: #E8E8E8;
        font-size: 18px;
        padding: 0 10px;
        background-color: transparent;
        display: block;
        width: 100%;
    }


    label {
        height: 33px;
        line-height: 31px;
        font-size: 18px;
        color: #E8E8E8;
        text-align: left;
        display: block;
    }

    textarea {
        border: 2px solid #E8E8E8;
        height: 196px;
        padding-top: 10px;
        padding-bottom: 10px;
        resize: none;
    }

    .button {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);

        @media (max-width: 600px) {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
        }
    }
}