.button {
    background-color: $gold;
    width: 240px;
    height: 45px;
    
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    color: #000;
    font-weight: 100;
    font-size: 20px;
    
    display: inline-block;
    border: none;
    cursor: pointer;
            @media (max-width: 1200px) {
            width: 200px;
            height: 35px;
            font-size: 16px;
            text-align: center;
            line-height: 30px;
        }
    &--text {
        color: $gold;
        width: auto;
        text-align: left;
        background: transparent;
        padding: 0;
        font-weight: 200;
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 15px;
            margin-left: 8px;
            margin-top: -2px;
            @include transition(all,.2s);
            background-image: url("../images/arrow-right-gold.svg");
            -webkit-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;
        }
        &:hover {
            &:after {
                margin-left: 2px;
            }
        }
    }
}

/* ------------------------------------ */
/*  SLICK ARROWS  */
.slick-arrow,
.slick-arrow:focus,
.slick-arrow:active,
.slick-arrow:hover {
    width: 70px;
    height: 90px;
    z-index: 10;
    @include transition(all, .2s);
    background-color:  peru;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: 23px 20px;
         -o-background-size: 23px 20px;
            background-size: 23px 20px;
    @media (max-width: 800px) {
        width: 50px;
        height: 70px;
    }
    @media (max-width: 600px) {
        width: 30px;
        height: 50px;
        -webkit-background-size: 16px 16px;
         -o-background-size: 16px 16px;
            background-size: 16px 16px;
    }
    &:before {
        display: none;
    }
}
.slick-arrow:hover {
    opacity: .8;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
    right: 0;
    background-image: url("../images/right-arrow.svg");
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
    left: 0;
    background-image: url("../images/left-arrow.svg");
}

.slick-dots {
    bottom: -7%;
    li {
        display: inline-block;
        vertical-align: middle;
        padding: 0!important;
        &.slick-active {
            button {
            color: $gold;
            }
        }
        &:before,
        button:before {
            display: none;
        }
        button {
            color: #FFF;
            font-size: 21px;
            font-weight: 100;
        }
    }
}

.mfp-close-btn-in .mfp-close {
    color: #FFF;
    font-weight: 100;
    font-family: 'Segoe UI';
    font-size: 42px;
    opacity: .9;
}