
    .news-row {
        text-align: left;
        margin: 0 -10px;
        @include flex($justify: flex-start);
        @media (max-width: 1200px) {
            margin: 0;
            padding: 0 20px;
        }
        .news-item {
            width: -webkit-calc(25% - 20px);
            width: calc(25% - 20px);
            margin: 0 10px;
            padding-right: 0px;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            color: #FFF;
            @media (max-width: 1200px) {
                width: 50%;
                margin: 0px 0 40px;  
                .button {
                    margin-top: 0px;
                }
                padding-right: 20px;
            }
            @media (max-width: 600px) {
                width: 100%;
                margin: 0px 0 60px;  
                padding-right: 0;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            &__date {
                color: #9f9f9f;
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 28px;
                
                @media (max-width: 1500px) {
                    margin-bottom: 15px;
                }
                @media (max-width: 1200px) {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                @media (max-width: 1000px) {
                    font-size: 12px;
                }
                @media (max-width: 600px) {
                    font-size: 10px;
                }
            }

            &__title {
                font-size: 24px;
                letter-spacing: 0.025em;
                min-height: 50px;
                overflow: hidden;
                margin-bottom: 20px;
                color: $gold;
                font-weight: 400;
                letter-spacing: .02em;
                @media (max-width: 1500px) {
                    margin: 15px;
                }
                @media (max-width: 1200px) {
                    margin: 10px 0;
                    min-height: 0;
                }
            }

            &__preview {
                min-height: 180px;
                overflow: hidden;
                margin-bottom: 10px;
                @media (max-width: 1500px) {
                    line-height: normal;
                    height: 88px;
                }
                @media (max-width: 1200px) {
                    height: auto;
                    min-height: 0;
                }

                p {
                    font-size: 20px; 
                    font-weight: 300;
                    line-height: 1.25;
                    letter-spacing: .05em;
                    @media (max-width: 1200px) {
                        font-size: 16px;
                    }
                    @media (max-width: 600px) {
                        font-size: 14px;
                    }
                }
            }
        }


    }


    .page-title--small {
      font-size: 36px;
      font-weight: 400;
      color: $gold;
      display: block;
      text-align: center;
      margin-bottom: 50px;
      @media (max-width: 1200px) {
          margin-bottom: 30px;
      }
    }

    article     .page-title--small{
        text-align: left;
        width: 440px;
        max-width: 100%;
    }
    article p {
        font-size: 20px;
    }

    .patterns--slider {
        .slick-arrow {
        width: 85px;
        height: 85px;
        background-color: transparent;
        background-size: 100%;

        @media (max-width: 1700px) {
            top: 100%;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
            width: 50px;
            height: 50px;
        }

        &.slick-prev {
            background-image: url(../images/slick-prev.svg);
            left: -150px;

            @media (max-width: 1700px) {
                right: 50%;
                margin-right: 20px;
                left: auto;
            }
        }

        &.slick-next {
            background-image: url(../images/slick-next.svg);
            @media (max-width: 1700px) {
                left: 50%;
                margin-left: 20px;
                right: auto;
            }
        }

        &.slick-disabled {
            opacity: 0.5;
        }
    }
}