.tabs--pattern {
    margin-top: 40px;
    @media (max-width: 1920px) {
        margin-top: 30px;
    }
}

.tabs-controls {
    margin-bottom: 55px;
    @media (max-width: 1920px) {
        margin-top: 30px;
    }
}
.tabs-controls-item {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 20px;
    padding-left: 0!important;
    background-color: #726340;
    &:before {
            display: none;
        }
    &.ui-tabs-active {
        background-color: $gold;
    }
    &:last-of-type {
        margin-right: 0;
    }
    list-style-type: none;
    a {
        display: inline-block;
        min-width: 180px;
        color: #000;
        font-size: 20px;
        font-weight: 100;
        padding: 0px 10px 8px;
    }
}

.patterns {
    @include flex();
    margin: 0 -15px;
}
.pattern-card {
    width: 270px;
    height: 270px;
    background-color: #252525;
    margin: 15px;
    @media (max-width: 1700px) {
        width: 220px;
        height: 220px;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 95%;
        height: 95%;
        border: 4px solid $gold;
        top: -14px;
        right: -12px;
        z-index: -1;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 0;
        @include transition(all,.2s);
        background-image: url("../images/arrow-right.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: rgba(27,27,27,.9);
        -webkit-background-size: 44px 30px;
             -o-background-size: 44px 30px;
                background-size: 44px 30px;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

.tabs-tab {
    .button {
        display: block;
        margin: 40px auto 0;
        @media (max-width: 1920px) {
            margin-top: 20px;
        }
    }
}

.breadcrumbs {
    list-style-type: none;
    display: block;
    text-align: center;
    margin-top: 20px;
    @media (max-width: 1920px) {
        margin-top: 10px;
    }
    li {
        display: inline-block;
        vertical-align: middle;        
        margin: 0 5px;
        position: relative;
        list-style-type: none;
        padding: 0;
        &:before {
            display: none;
        }
        &.active,
        &:hover {
            a {
                color: $gold;
            }
        }
        a {
            color: #FFF;
            font-size: 21px;
            font-weight: 100;
        }
        &:last-of-type:after {
            position: absolute;
            display: block;
            content: "";
            width: 80px;
            height: 12px;
            right: -106px;
            top: 12px;
            background-image: url("../images/slick-next.svg");
            -webkit-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;
        }
    }
}

.pattern-popup {
    width: 1160px;
    max-width: 100%;
    background-color: #202020;
    @include flex($justify: flex-start);
    margin: 0 auto;
    .pattern-card {
        margin: 0;
        &:after,
        &:before {
            display: none;
        }
    }
    .mfp-close {
        color: $gold;
    }
}

.pattern-info {
    text-align: left;
    padding: 20px 20px 20px 12%;
    span {
        display: block;
        color: $gold;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 8px;
    }
    ul {
        li {
            list-style-type: none;
            display: block;
            font-size: 20px;
            font-weight: 300;
            color: #B5B5B5;
            strong {
                color: #FFF;
                font-weight: 200;
            }
        }
    }
}
