
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
  font-family: 'Segoe UI';
  font-weight: 300;

  background-image: url(../images/decor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  /*background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);*/
  /*background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);*/
  /*background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);*/
}
.fullpage {
  /*background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);*/
  /*background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);*/
  /*background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);*/
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
  padding: 0 10px;
	margin: 0 auto;
}

.wrapper-wide {
  width: 1600px;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 100%;
}

.align-right {
  text-align: right;
} 
.align-left {
  text-align: left;
}
.align-justify {
  text-align: justify;
}

.text-block {
  display: inline-block;
  width: 480px;
  max-width: 100%;
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.05em;

  &.full {
    width: 100%;
  }

  h2 {
    font-weight: normal;
    font-size: 36px;
    color: $gold;
    margin-bottom: 50px;
  }

  p:not(:last-child) {
    margin-bottom: 26px;
  }
}




.flex-row {
    @include flex($alignI: flex-start, $justify: flex-start);
    margin: 0 -15px;

    &.flex-row-middle {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
[class*='col-'] {
    padding: 0 15px;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }



/* Set default opacity for input's placeholders equal to 1 */
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}