
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}

body {
  font-family: 'Segoe UI';
  font-weight: 300;

  background-image: url(../images/decor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-bottom: 60px;
}

@media (max-width: 1199px) {
  html,
  body {
    height: 100%!important;
    overflow: auto!important;
  }
}
// lAYOUT
// ---------------------------


.scroll {
  padding-top: 100px!important;
  padding-bottom: 100px!important;
  max-height: 100%;
  overflow: auto;

  @media (max-width: 1199px) {
    max-height: none;
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
}




.wrapper {
	width: 1200px;
  padding: 0 10px;
	margin: 0 auto;
  @media (max-width: 1200px) {
    width: 100%;
    padding: 0 15px;
  }
}

.wrapper-wide {
  width: 1600px;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 100%;

  @media (max-width: 1600px) {
    width: 1200px;
  }
  @media (max-width: 1200px) {
    width: 100%;
    padding: 0 15px;
  }
}

.align-right {
  text-align: right;
} 
.align-left {
  text-align: left;
}
.align-justify {
  text-align: justify;

  h2 {
    text-align: left;
  }
}
.align-center {
  text-align: center;
}

.text-block {
  display: inline-block;
  width: 480px;
  max-width: 100%;
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.05em;

  @media (max-width: 1600px) {
    font-size: 20px;
  }

  @media (max-width: 1400px) {
    font-size: 19px;
  }

  &.medium {
    width: 600px;

    @media (max-width: 1600px) {
      width: 480px;
    }
  }

  &.large {
    width: 820px;
    max-width: 100%;
  }

  &.full {
    width: 100%;
  }

  .page-title {
    font-size: 100px;
    font-weight: normal;

    @media (max-width: 1600px) {
      font-size: 80px;
    }
    @media (max-width: 1400px) {
      font-size: 60px;
    }
  }

  h2 {
    font-weight: normal;
    font-size: 36px;
    color: $gold;
    margin-bottom: 50px;

    @media (max-width: 1600px) {
      font-size: 30px;
      margin-bottom: 30px;
    }

    @media (max-width: 1400px) {
      font-size: 26px;
      margin-bottom: 15px;
    }
  }

  ul {
    line-height: 36px;

    @media (max-width: 1600px) {
      line-height: normal;
    }

    li {
      padding-left: 25px;
      position: relative;
      list-style: none;

      &:before {
        content: '';
        width: 6px;
        height: 6px;
        position: absolute;
        left: 0;
        top: 18px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }

  ul:not(:last-child),
  p:not(:last-child) {
    margin-bottom: 26px;

    @media (max-width: 1600px) {
      margin-bottom: 20px;
    }
    @media (max-width: 1400px) {
      margin-bottom: 14px;
    }
  }



  &.fixed-table table {
    width: 100%;
    table-layout: fixed;

    td {
      width: 50%;
      padding: 0 10px;
    }

    td:first-child {
      text-align: right;
      color: $gold;
    }

    td:last-child {
      text-align: left;
    }
  }
}

.fp-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  .wrapper,
  .wrapper-wide {
    position: relative;
    z-index: 10;
  }
}

@media (max-width: 1199px) {
  .fullpage {
    height: 100%!important;
    overflow: auto!important;
  }
}

.fp-section.fp-table .fp-tableCell, .fp-slide.fp-table .fp-tableCell {
  @media (max-width: 1199px) {
    padding: 80px 0;
  }
}
.home .fp-section.fp-table .fp-tableCell, .fp-slide.fp-table .fp-tableCell {
  padding: 0 !important;
}




.shadow-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 25%;
  background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
}
.shadow-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);

}
.shadow-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: -moz-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
}
.shadow-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 35%;
  background-image: -moz-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
  background-image: -ms-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);

}

.shadow-top-light {
    right: 0;
  top: 0;
  width: 100%;
  height: 25%;
  background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 100%);
}
.shadow-bottom-light {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-image: -moz-linear-gradient( 90deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,0.01) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,0.01) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,0.01) 100%);

}

.flex-row {
    @include flex($alignI: flex-start, $justify: flex-start);
    margin: 0 -15px;

    &.flex-row-middle {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
[class*='col-'] {
    padding: 0 15px;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }



/* Set default opacity for input's placeholders equal to 1 */
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}

